; ----- Email credentials -----------
[email]
from = "youremail@gmail.com"
to = "youremail@gmail.com"
smtp = "smtp.gmail.com"
smtp_port = 587
smtp_user = "yourpassword"
smtp_password = "yourpassword"

; ----- Amazon credentials -----------
[amazon]
country = "fr"
access_key = "AWS_API_KEY"
secret_key = "AWS_API_SECRET_KEY"
associate_tag = "AWS_ASSOCIATE_TAG"
